/*D.R.Y.*/
/**************  Custom Properties  ***********/
:root {
  --first-color: rgb(183, 17, 17);
  --first-alpha-color: rgba(183, 16, 16, 0.503);
  --second-color: #14192d;
  --second-alpha-color: rgba(20, 25, 45, 0.503);
  --third-color: rgb(125, 0, 0);
  --third-alpha-color: rgba(50, 67, 135, 0.503);
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-dark-color: #666;
  --black-color: #000;
  --link-color: #509ee3;
  --title-color: #333;
  --text-color: #222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --font: "Raleway", sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
}

/**************  Rer   ***********/
html {
  background-color: var(--second-color);
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

/**************  Components  ************/
/**************  Carousel  ************/
.carousel {
  margin: 2rem auto;
  padding: 2rem 0;
  max-width: 800px;
  text-align: center;
  overflow-x: hidden;
}

.carousel input {
  display: none;
}
.carousel label {
  border: medium solid rgb(125 0 0);
  border-radius: 50%;
  margin: 0 0.25rem;
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
}
.carousel .slides {
  padding-left: 0;
  width: 200%;
  display: flex;
  list-style: none;
  transition: transform 0.5s ease-in-out;
  height: 40vh;
}
.container-card,
.container-card-2 {
  background-image: var(--img-slide);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 800px;
}

.container-card-2 {
  overflow: hidden;
  background-position: 50%;
}

#slide-1:checked ~ .slides {
  transform: translateX(0%);
}

#slide-2:checked ~ .slides {
  transform: translateX(-50%);
}

#slide-1:checked ~ .slides-nav label#dot-1,
#slide-2:checked ~ .slides-nav label#dot-2 {
  background-color: var(--first-color);
}

/**************  HeroImage  ************/
.hero-image-content {
  width: 100%;
  min-width: 320px;
  position: relative;
}

.hero-image {
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: var(--hero-attachment);
}

.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--hero-opacity-color);
}

.hero-image-title {
  font-size: 5vw;
  text-align: center;
  color: var(--hero-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  backdrop-filter: blur(0.5rem);
}

/**************  Menu  ************/

button .hamburger-inner,
button .hamburger-inner::after,
button .hamburger-inner::before {
  background-color: var(--first-color);
}

button.hamburger.is-active .hamburger-inner,
button.hamburger.is-active .hamburger-inner:after,
button.hamburger.is-active .hamburger-inner:before {
  background-color: var(--first-color);
}

.menu-btn {
  position: relative;
  top: -10px;
}

.menu-btn span {
  fill: var(--first-color);
}

.menu {
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--second-color);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.menu.is-active {
  opacity: 1;
  margin-bottom: -0.1rem;
  pointer-events: auto;
}

.menu a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--first-color);
}

.menu a:hover {
  color: var(--white-color);
  background-color: var(--first-color);
}

@media screen and (min-width: 1024px) {
  button.hamburger {
    display: none;
  }

  .hero-image-title {
    font-size: 4.5vw;
    text-align: left;
  }

  .hero-image-content {
    top: auto;
  }

  .menu {
    position: static;
    padding-bottom: 0.7rem;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }

  .menu a {
    padding: 0 1rem;
  }

  .menu a:last-child {
    padding-right: 0;
  }

  .menu a:hover {
    background-color: transparent;
  }
}
/**************  Modal  ************/
.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-alpha-color);
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

.modal-content {
  position: relative;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-close svg {
  width: 3rem;
  height: 3rem;
  fill: var(--first-color);
}

.modal[id|="modal"]:target {
  opacity: 1;
  pointer-events: auto;
}
/**************  Utilities  ************/

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.gap-03 {
  gap: 0.3rem;
}

.none {
  display: none;
}

.pad-left {
  padding-left: 1.3rem;
}

.top-7rem {
  top: -7rem;
}

/**************  Site Styles  ************/

/* 1 Navbar*/

.btn {
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--first-color);
}
button.btn-set .hydrated {
  font-size: 20px;
}

button.open-modal {
  width: 20%;
  background-color: #f4da21;
  border-color: darkkhaki;
  border-radius: 1rem;
  height: 3rem;
  position: relative;
  bottom: -40%;
  left: -30%;
  cursor: pointer;
}

button.btn-react {
  width: 11.5%;
  background-color: #03d6ff;
  border-color: antiquewhite;
  position: absolute;
  bottom: 42%;
  left: 70%;
}

.btn-set {
  background-color: var(--second-color);
  color: var(--first-color);
  border-color: var(--first-color);
  border-radius: 2rem;
  cursor: pointer;
  padding: 0.75rem;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .btn-set + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown.active > .btn-set,
.btn-set:hover {
  background-color: #222;
}

/* 2 HOMEPAGE*/

.frank {
  position: relative;
  top: -25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.frank > .avatar {
  border: medium solid var(--first-alpha-color);
  border-radius: 50%;
  width: 270px;
  height: 260px;
  cursor: pointer;
  margin: 0 auto;
  z-index: 9;
  box-shadow: 0.25rem 0.25rem 0.5rem 0.25rem rgb(0 0 0 / 10%);
}

.frank-hobbies {
  display: inline-block;
  list-style: none;
  border: medium solid var(--first-color);
  background-color: var(--white-color);
  opacity: 0.8;
  padding: 1.8rem 0.3rem 0.7rem;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  z-index: 8;
}

.frank-hobbies > * {
  padding-top: 0.3rem;
}

.frank-info {
  position: absolute;
  top: 0.4rem;
  left: 28%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
}

.frank-info.is-active {
  top: 81%;
  left: 28%;
  opacity: 1;
  pointer-events: auto;
}

/* 1 Navbar*/

.header {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  padding: 0.5rem;
  margin-bottom: -0.1rem;
  width: 100%;
  height: var(--header-height);
  background-color: var(--second-color);
  box-shadow: 0.25rem 0.25rem 0.5rem 0.25rem rgb(0 0 0 / 10%);
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem;
}

.header img {
  width: 50px;
}

.hover-card {
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.hover-card:hover {
  background-color: var(--black-alpha-color);
  transition: all 0.5s ease-in-out;
}

.hover-card:hover .js-info,
.hover-card:hover .react-info {
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.logo {
  transition: 1s;
  padding-bottom: 0.5rem;
}

.logo:hover {
  transform: scale(1.15);
}

.logo-span {
  color: var(--first-color);
  position: relative;
  bottom: 20px;
}

.js-info {
  font-size: 1.2rem;
  text-align: left;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.section {
  padding: 2rem 1rem;
  max-width: 100%;
  min-height: 100vh;
}

.section-title {
  border-top: thin solid var(--first-color);
  border-bottom: thin solid var(--first-color);
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  width: 250px;
  text-align: center;
  color: var(--title-color);
}

.section-description {
  margin-bottom: 6rem;
}

.set {
  position: absolute;
  top: -0.7rem;
  right: 20%;
  padding-left: 1rem;
  list-style: none;
}

.slides-nav {
  position: relative;
  top: -20px;
}

.skills > .container {
  display: grid;
  grid-template-columns: repeat(1, 99%);
  justify-content: space-between;
  align-content: center;
}
.skill-card {
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}

.skill-card:hover {
  animation: pulse 1s infinite;
}

.skill-card > svg {
  width: 7rem;
  height: 7rem;
}

.skills {
  background-color: var(--white-color);
}

.subset {
  list-style: none;
  display: flex;
  position: absolute;
  right: -90%;
  top: -85%;
}

.subset li {
  display: inline;
}

.languages {
  position: absolute;
  left: -62%;
  top: -305%;
  flex-direction: column;
}

.react-info {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  text-align: justify;
  /* z-index: 9; */
  font-size: 1.5rem;
  position: relative;
  top: 22%;
  color: var(--white-color);

  animation: introStarWars 9s linear infinite;
}

@keyframes introStarWars {
  0% {
    transform: perspective(70vh) rotateX(25deg) translateY(280%);
  }
  100% {
    transform: perspective(80vh) rotateX(25deg) translateY(-200%);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}
@media screen and (min-width: 768px) {
  button.btn-react {
    width: 3.5%;
    left: 73.5%;
    top: 42%;
  }

  .frank-info {
    left: 36%;
  }

  .frank-info.is-active {
    left: 36%;
  }
  /* 1 Navbar*/

  .header > .container {
    padding: 0 1rem;
  }

  .set {
    right: 15%;
    top: -12px;
  }
  .skills > .container {
    grid-template-columns: repeat(2, 43%);
  }
  .skills .section-title {
    grid-column: span 2;
  }

  .skills .section-description {
    grid-column: span 2;
  }
}

@media screen and (min-width: 1024px) {
  .full-lg-screen {
    width: 100%;
    min-height: 120vh;
  }

  /* 1 Navbar*/
  .dropdown-menu {
    position: absolute;
    top: calc(100% + 0.25rem);
  }

  .header {
    position: sticky;
    top: -0.15rem;
    margin-top: 1rem;
    padding: 0.5rem;
    height: calc(var(--header-height) + 0.3rem);
  }

  .header > .container {
    padding: 0 2rem;
  }
  .frank-container {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    padding-bottom: 0;
  }

  .set {
    position: relative;
    right: auto;
  }

  .skills > .container {
    grid-template-columns: repeat(3, 33%);
  }
  .skills .section-title {
    grid-column: span 3;
  }

  .skills .section-description {
    grid-column: span 3;
  }

  .subset {
    top: auto;
    right: -90%;
  }
  /*Va dopo subset per l'effetto a cascado di CSS*/
  .languages {
    left: -60%;
  }
}
